<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tanaj">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivitySearch"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".ActivityRead"/>
        <activity android:name=".ActivityAbout" />
        <activity
            android:name=".ActivityRead"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_read" />
        <activity
            android:name=".Settings000"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_settings004"
            android:parentActivityName=".ActivityRead"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Settings002" />
        <activity android:name=".Settings001" />
        <activity android:name=".Activity000" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/no_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>